nav {
    font-size: larger;
    font-style:unset;
}
body {
    padding-left: 25px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 75px;
    border: 0px solid gold
}
body{
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
