nav {
    font-size: larger;
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: inline-block;
    list-style-type: squere;
    margin: 10px 20px;
}
body{
    background-image: url();
}
body {
    padding-left: 25px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 75px;
    border: 0px solid gold
}
body{
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: inline-block;
    margin-inline-end: 5%;
}
.collab{
    background-color: bisque;
    padding: 6% 5px 2em;
    margin: 105px;
    width: 350px;
    height: 355px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 2cm;
    border-style: double;
    border-width: .5cm;

}
.collab {
    font-size: x-large;
    background-color: aliceblue;
}
.container{
    display: inline-flex;
    flex-direction: row;  
}

.row {
    background-color: rgb(161, 122, 122);
    padding: 100px;
    height: 300px; 
    font-size: x-large;
    border-radius: 2cm;
    border-style: double;
    border-width: .5cm;
}

